DATABASE_NAME=filestorage
DATABASE_USERNAME=filestorage
DATABASE_PASSWORD=replace-with-a-long-random-password
TAILSCALE_IP=100.114.213.9
APP_PORT=3001
UPLOADS_PATH=./data/uploads
MAX_UPLOAD_SIZE=1GB
JAVA_MAX_RAM_PERCENTAGE=60
APP_PUBLIC_URL=http://100.114.213.9:3001
MAIL_ENABLED=false
SESSION_HOURS=168
VERIFICATION_HOURS=24
LOGIN_VERIFICATION_MINUTES=15
SECURE_COOKIE=false
